In [7]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import dask.dataframe as dd

In [17]:
df = pd.read_csv('/Volumes/external/Sangeetha-Project/reviews1.csv',
                 names=['reviwerId', 'asin', 'review', 'rating',
                        'summary', 'unixtime', 'pos_votes', 'total_votes']) \
    .drop(columns=['review', 'summary', 'unixtime', 'pos_votes', 'total_votes']) \
    .astype({'rating': 'int8'})

In [81]:
alex = pd.read_csv('/Volumes/external/Sangeetha-Project/reviews1.csv',
                 names=['reviwerId', 'asin', 'review', 'rating',
                        'summary', 'unixtime', 'pos_votes', 'total_votes'], nrows = 100) \
    .astype({'rating': 'int8'})

In [82]:
alex.head()

,reviwerId,asin,review,rating,summary,unixtime,pos_votes,total_votes
0,A10000012B7CGYKOMPQ4L,000100039X,Spiritually and mentally inspiring! A book tha...,5,Wonderful!,1355616000,0,0
1,A2S166WSCFIFP5,000100039X,This is one my must have books. It is a master...,5,close to god,1071100800,0,2
2,A1BM81XB4QHOA3,000100039X,This book provides a reflection that you can a...,5,Must Read for Life Afficianados,1390003200,0,0
3,A1MOSTXNIO5MPJ,000100039X,I first read THE PROPHET in college back in th...,5,Timeless for every good and bad time in your l...,1317081600,0,0
4,A2XQ5LZHTD4AFT,000100039X,A timeless classic. It is a very demanding an...,5,A Modern Rumi,1033948800,7,9

In [19]:
df.head()

               reviwerId        asin  rating
0  A10000012B7CGYKOMPQ4L  000100039X       5
1         A2S166WSCFIFP5  000100039X       5
2         A1BM81XB4QHOA3  000100039X       5
3         A1MOSTXNIO5MPJ  000100039X       5
4         A2XQ5LZHTD4AFT  000100039X       5

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3010000 entries, 0 to 3009999
Data columns (total 3 columns):
reviwerId    object
asin         object
rating       int8
dtypes: int8(1), object(2)
memory usage: 48.8+ MB

In [20]:
small_df = df.iloc[:1000].copy()

In [21]:
small_df.head()

               reviwerId        asin  rating
0  A10000012B7CGYKOMPQ4L  000100039X       5
1         A2S166WSCFIFP5  000100039X       5
2         A1BM81XB4QHOA3  000100039X       5
3         A1MOSTXNIO5MPJ  000100039X       5
4         A2XQ5LZHTD4AFT  000100039X       5

In [22]:
small_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
reviwerId    1000 non-null object
asin         1000 non-null object
rating       1000 non-null int8
dtypes: int8(1), object(2)
memory usage: 16.7+ KB

In [39]:
print('Reviewers under 5: ', (df.reviwerId.value_counts() < 5).mean())
print('Mean reviewers: ', df.reviwerId.value_counts().mean())
print('Median reviewers: ', df.reviwerId.value_counts().median())
print('-----------------------------------------------')
print('Books under 5: ', (df.asin.value_counts() < 5).mean())
print('Mean books: ', df.asin.value_counts().mean())
print('Median books: ', df.asin.value_counts().median())

Reviewers under 5:  0.6687836133393875
Mean reviewers:  6.074365571868221
Median reviewers:  3.0
-----------------------------------------------
Books under 5:  0.0
Mean books:  32.62978741856104
Median books:  12.0

In [28]:
(small_df.asin.value_counts() == 1).mean()

0.0

In [42]:
counts = small_df.asin.value_counts()

In [49]:
list(counts[counts == 5].index)

['0002006715']

In [66]:
id_counts = df.reviwerId.value_counts()

In [56]:
book_counts= df.asin.value_counts()
book_counts

030758836X    7440
0439023483    6717
0375831002    4864
038536315X    4604
0439023513    4440
              ...
0446364258       5
031299351X       5
031621972X       5
0070329672       5
0385510306       5
Name: asin, Length: 92247, dtype: int64

In [68]:
id_counts_1 = list(id_counts[id_counts <3].index)
id_counts_1[:5]
len(id_counts_1)

189424

In [69]:
df[df.reviwerId.isin(id_counts_1)]

              reviwerId        asin  rating
2        A1BM81XB4QHOA3  000100039X       5
8        A3FI0744PG1WYG  000100039X       5
24        AUTNO7VDY4H4A  000100039X       5
41       A3BHSR8LON67NA  000100039X       5
52        AW1Z7GYIBWB4K  000100039X       5
...                 ...         ...     ...
3009988  A3I044ICARNZK5  0578124114       5
3009992   A36ZD9ZRVXQGQ  0578124114       5
3009994   AQN0BSMCD7W1W  0578124114       5
3009996  A2N513SD0BR6VC  0578124114       5
3009998   AGPSU8WMSWFCZ  0578124114       5

[281360 rows x 3 columns]

In [70]:
df_dense = df.drop(index = df[df.reviwerId.isin(id_counts_1)].index)

In [71]:
df_dense.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2728640 entries, 0 to 3009999
Data columns (total 3 columns):
reviwerId    object
asin         object
rating       int8
dtypes: int8(1), object(2)
memory usage: 65.1+ MB

In [72]:
print('Reviewers under 5: ', (df_dense.reviwerId.value_counts() < 5).mean())
print('Mean reviewers: ', df_dense.reviwerId.value_counts().mean())
print('Median reviewers: ', df_dense.reviwerId.value_counts().median())
print('-----------------------------------------------')
print('Books under 5: ', (df_dense.asin.value_counts() < 5).mean())
print('Mean books: ', df_dense.asin.value_counts().mean())
print('Median books: ', df_dense.asin.value_counts().median())

Reviewers under 5:  0.4638174981460368
Mean reviewers:  8.914181920346552
Median reviewers:  5.0
-----------------------------------------------
Books under 5:  0.06259485711807813
Mean books:  29.580677334027147
Median books:  11.0

In [73]:
df_dense.asin.value_counts()

030758836X    6613
0439023483    5766
0375831002    4199
038536315X    3962
0316055433    3907
              ...
0310222672       1
0060889438       1
0545201101       1
0385267029       1
006144958X       1
Name: asin, Length: 92244, dtype: int64

In [74]:
df_dense.reviwerId.value_counts()

AFVQZQ8PW0L       14072
A14OJS0VWMOSWO     3884
A2F6N60Z96CAJI     3852
A1K1JW1C5CUSUZ     1814
A320TMDV6KCFU      1718
                  ...
A2PJ6GVLJE1SZS        3
ARMPTBBYIBJ14         3
AAZ9MF89KZJ3I         3
A2UORKY6K8R4XD        3
A2PNLAPW1IVI2H        3
Name: reviwerId, Length: 306101, dtype: int64

In [76]:
len(df_dense.asin.unique())

92244

In [79]:
len(df_dense.reviwerId.unique())

306101